.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('background.jpg');
    background-size: cover;
    height: fit-content;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    border: solid 5px white;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 2%;
    margin-top:1em;
}

.squre {
    border: solid 1px white;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.427);
    justify-content: center;
    height: 15vh;
    width: 10vw;
    font-weight: bold;
    border-radius: 20px;

    &:hover {
        transition: all 0.5s;
        background-color: rgba(81, 81, 81, 0.427);
    }
}

.squreX {
    border: solid 1px white;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.427);
    justify-content: center;
    height: 15vh;
    width: 10vw;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 20px;


    &:hover {
        transition: all 0.5s;
        background-color: rgba(81, 81, 81, 0.427);
    }
}

h1,h2,h3 {
    margin:5px;
}

.imglogo {
    width: 50px;
    height: 50px;
}

.button {
    border:none;
    color:white;
    background-color: black;
    padding:1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    border-radius: 20px;

    &:hover {
        transition: all 0.5s;
        background-color: gray;
        color: white;
    }

}

@media only screen and (max-width: 600px) {
    .table {
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    }

    .squre, .squreX {
        width: 20vw;
    }
}
